<div class="category">{{category.displayTitle}}</div>
{{#each value in category.answers}}
  {{#if value.asked}}
    <div class="answer"></div>
  {{else}}
    <div class="answer" {{action 'ask' category value}}>${{value.value}}</div>
  {{/if}}
{{/each}}