<div class="category cell">{{categoryTitle}}</div>
{{#each category.answers as |value|}}
  <div class="answer cell" {{action 'ask' category value}}>
    {{#if value.asked}}
    {{else}}
      ${{value.value}}
    {{/if}}
  </div>
{{/each}}