<div class="category cell">{{category.displayTitle}}</div>
{{#each value in category.answers}}
  <div class="answer cell" {{action 'ask' category value}}>
    {{#if value.asked}}
    {{else}}
      ${{value.value}}
    {{/if}}
  </div>
{{/each}}