{{#each player in service.players}}
  <div class="player">
    <span class="name">
      {{player.name}}
    </span>
    <span class="score">
      ${{player.score}}
    </span>
    <button class="assign" {{action "assign" player}}>+</button>
  </div>
{{/each}}
