.board {
  width: 600px;
  height: 600px;

  background-color: blue;
  text-align: center;
}

.category-column {
  float: left;
}

.cell {
  border: 1px solid black;

    /* yuck */
  width: 98px;
  height: 98px;
    /* ew */
}

.category {
  font-size: 12px;
  color: white;
}

.answer {
  font-size: 30px;
  color: yellow;
}

.clearfix {
  clear: both;
}

.players {
  width: 600px;
}

.player {
  border: 1px solid black;
  width: 198px;
  height: 75px;
  float: left;
  text-align: center;
  background-color: blue;
  color: white;
}

.assign {
  background-color: green;
}

.deduct {
  background-color: red;
}

.pass {
  background-color: yellow;
}

.answer-revealed {
  color: white;
  font-size: 50px;
}

.answer-hide {
  color: blue;
}