<div class="board">
  {{outlet}}
</div>
<div class="clearfix"></div>
<br />
<div>visit {{link-to hostUrl}} to see answers...or is it questions? this game is weird...</div>
<div class="clearfix"></div>
<br />
{{player-manager service=players endRound="endRound"}}
