<span class="question">{{currentClue.q}}</span>
<br />
...
<br />
<span class="answer">{{currentClue.a}}</span>
<br />
{{#if active}}
<button class="pass" {{action "pass"}}></button>
{{/if}}
{{player-manager service=players}}

